<h1 class="text-center">Open Source Projects</h1>
<div class="spacer"></div>
<div class="row text-center">
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card"><a target="_blank" href="https://github.com/hrshadhin/school-management-system"
        class="project-link" title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-university fa-stack-1x fa-inverse"></i>
        </span>
        <h5>CloudSchool</h5>
        <img
          src="https://img.shields.io/github/forks/hrshadhin/school-management-system.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img
          src="https://img.shields.io/github/stars/hrshadhin/school-management-system.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card"><a target="_blank" href="https://github.com/hrshadhin/HRM" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
        <h5>HRM</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/HRM.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/HRM.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/pyprism/MoneyBag" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-dollar-sign fa-stack-1x fa-inverse"></i>
        </span>
        <h5>MoneyBag</h5>
        <img src="https://img.shields.io/github/forks/pyprism/MoneyBag.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/pyprism/MoneyBag.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/laravel-userstamps" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Laravel Userstamps</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/laravel-userstamps.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/laravel-userstamps.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/Useful-Scripts-Collection" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Scripts</h5>
        <img
          src="https://img.shields.io/github/forks/hrshadhin/Useful-Scripts-Collection.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img
          src="https://img.shields.io/github/stars/hrshadhin/Useful-Scripts-Collection.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/license-server" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h5>License Server</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/license-server.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/license-server.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/TheDevsTech/awesome-release-logger" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Release Logger</h5>
        <img
          src="https://img.shields.io/github/forks/TheDevsTech/awesome-release-logger.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img
          src="https://img.shields.io/github/stars/TheDevsTech/awesome-release-logger.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/HMS" class="project-link" title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
        <h5>HMS</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/HMS.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/HMS.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/osums" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        <h5>University Management</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/osums.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/osums.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>

  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/hacker-scripts" class="project-link"
        title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Hacker Scripts</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/hacker-scripts.svg?style=social&amp;label=Fork"
          alt="Github" title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/hacker-scripts.svg?style=social&amp;label=Stars"
          alt="Github" title="Github Stars">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/school-website" class="project-link" title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-school fa-stack-1x fa-inverse"></i>
        </span>
        <h5>School Website</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/school-website.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/school-website.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>  
<div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="https://github.com/hrshadhin/codex" class="project-link" title="Go to Github Poject Page">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h5>codex</h5>
        <img src="https://img.shields.io/github/forks/hrshadhin/codex.svg?style=social&amp;label=Fork" alt="Github"
          title="Github Forks">
        <img src="https://img.shields.io/github/stars/hrshadhin/codex.svg?style=social&amp;label=Stars" alt="Github"
          title="Github Stars">
      </a>
    </div>
  </div>
</div>