#change-skin {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 1rem;
  font-size: 0.8125rem;
  padding: 0.0625rem;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1200px) {
  .navbar .navbar-collapse {
    margin-right: 2.3rem;
  }
  #change-skin {
    top: auto;
    right: 1rem;
  }
}
@media (max-width: 1199px) {
  #change-skin {
    top: 0.85rem;
    right: 5rem;
  }
}
#change-skin .skin-btn {
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  margin: 0 0.8rem 0 0;
}
#change-skin:hover .skin-btn {
  margin: 0 0 0 0.8rem;
}
#change-skin .dark-mode {
  display: none;
}
.page-dark-mode #change-skin {
  background: #242526;
  border-color: #444;
}
.page-dark-mode #change-skin .dark-mode {
  display: block;
}
.page-dark-mode #change-skin .light-mode {
  display: none;
}
#change-skin:hover {
  background: #888;
}

.page-dark-mode {
  color: #e4e6eb;
  background-color: #18191a;
}
.page-dark-mode a {
  color: #139ee0;
}
.page-dark-mode #social-share-section a {
  color: #fff;
}
.page-dark-mode a:hover,
.page-dark-mode a:focus {
  color: #28a9e6;
}
.page-dark-mode blockquote {
  color: #999;
}
.page-dark-mode ::-moz-selection {
  color: #18191a;
  text-shadow: none;
  background-color: #28a9e6;
}
.page-dark-mode ::selection {
  color: #18191a;
  text-shadow: none;
  background-color: #28a9e6;
}
.page-dark-mode img::selection {
  color: #28a9e6;
  background: transparent;
}
.page-dark-mode img::-moz-selection {
  color: #28a9e6;
  background: transparent;
}
.page-dark-mode .navbar-custom {
  background-color: #242526;
  border-bottom-color: #393a3b;
}
.page-dark-mode .navbar-custom .navbar-brand,
.page-dark-mode .navbar-custom .navbar-nav .nav-link {
  color: #e4e6eb;
}
.page-dark-mode .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
  background-color: #242526;
  color: #e4e6eb;
}
@media (min-width: 1200px) {
  .page-dark-mode .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    border-color: #393a3b;
  }
}
@media (max-width: 1199px) {
  .page-dark-mode .navbar-custom .navbar-collapse {
    border-top-color: #393a3b;
  }
}
.page-dark-mode .navbar-custom .navbar-brand:hover,
.page-dark-mode .navbar-custom .navbar-brand:focus ,
.page-dark-mode .navbar-custom .navbar-nav .nav-link:hover,
.page-dark-mode .navbar-custom .navbar-nav .nav-link:focus,
.page-dark-mode .navbar-custom .navbar-nav .dropdown-menu .dropdown-item:hover,
.page-dark-mode .navbar-custom .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: #28a9e6;
}
.page-dark-mode footer {
 border-top-color: #242526;
 background-color: #242526;
}
.page-dark-mode footer p.text-muted {
  color: #aaaaaa !important;
}
.page-dark-mode footer a {
  color: #dfdfdf;
}
.page-dark-mode footer a .fa-inverse {
  color: #272727;
}
.page-dark-mode .post-preview {
  border-bottom-color: #444;
}
.page-dark-mode .post-preview a {
  color: #e4e6eb;
}
.page-dark-mode a.btn {
  color: #fff;
}
.page-dark-mode .post-preview a:focus,
.page-dark-mode .post-preview a:hover {
  color: #28a9e6;
}
.page-dark-mode .post-preview .post-meta,
.page-dark-mode .post-heading .post-meta {
  color: #999;
}
.page-dark-mode .blog-tags span {
  color: #e4e6eb;
}
.page-dark-mode .blog-tags a {
  color: #e4e6eb;
}
.page-dark-mode .blog-tags a:hover {
  color: #e4e6eb;
  border-color: #e4e6eb;
}
.page-dark-mode #full-tags-list .tag-entry .entry-date {
  color: #999;
}
.page-dark-mode .intro-header.big-img .page-heading,
.page-dark-mode .intro-header.big-img .post-heading {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.page-dark-mode .intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.page-dark-mode .intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.page-dark-mode .intro-header.big-img .img-desc {
  color: #EEE;
}
.page-dark-mode .header-section.has-img .no-img {
  background-color: #111;
  box-shadow: 0 0 0.3125rem #888;
}
.page-dark-mode .pagination .page-item .page-link {
  background-color: #18191a;
  color: #e4e6eb;
}
.page-dark-mode .pagination .page-item .page-link:hover,
.page-dark-mode .pagination .page-item .page-link:focus {
  color: #18191a;
  border-color: #28a9e6;
  background-color: #28a9e6;
}
.page-dark-mode table tr {
  border-top: 1px solid #666;
  background-color: #18191a;
}
.page-dark-mode table tr:nth-child(2n) {
  background-color: #28292a;
}
.page-dark-mode table tr th {
  border-color: #666;
}
.page-dark-mode table tr td {
  border-color: #666;
}
.page-dark-mode code {
  color: #c7254e;
  background-color: #2b2829;
}
.page-dark-mode .highlight > pre {
  background-image: linear-gradient(
    rgba(255,255,255,0.03), rgba(255,255,255,0.03) 1.5em, rgba(255,255,255,0.02) 1.5em, rgba(255,255,255,0.02) 3em);
  border-color: rgba(255,255,255,0.1);
  border-left-color: #a0a0a0;
}
.page-dark-mode pre {
  color: #e4e6eb;
}
.page-dark-mode pre code {
  color: inherit;
  background-color: transparent;
}
.page-dark-mode .highlight table,
.page-dark-mode .highlight tr,
.page-dark-mode .highlight td {
  border: none;
  background: none;
}
.page-dark-mode .highlight pre.lineno {
  color: rgba(255,255,255,0.3);
  border-right-color: #a0a0a0;
}
.page-dark-mode .box-note,
.page-dark-mode .box-warning,
.page-dark-mode .box-error,
.page-dark-mode .box-success {
  color: #404040;
}
.page-dark-mode .blog-post .caption {
  color: #aaa;
}
.page-dark-mode .blog-post hr {
  border-color: #999;
}
.page-dark-mode .blog-post blockquote {
  border-left-color: #444;
}
.page-dark-mode .jumbotron {
  background: #242526;
}

.page-dark-mode footer a {
    color: #dfdfdf;
}

.page-dark-mode .project-card span.fa-stack, .page-dark-mode .project-card h5 {
  color: #dfdfdf;
}

.page-dark-mode .project-card span.fa-stack .fa-inverse {
  color: #272727;
}

.page-dark-mode  ul.projects a {
    color: #139ee0;
}
.page-dark-mode ul.projects a:hover {
  color: #28a9e6;
  border-color: #139ee0;
}